<div class="container">
  <mat-tab-group mat-align-tabs="center">
    <mat-tab label="Список">
      <div class="container__pick-up-points-list">
        <div class="container__pick-up-points-list__item" *ngFor="let point of points$ | async">{{point.address}}</div>
      </div>
    </mat-tab>
    <mat-tab label="Карта">
      <div class="container__map">
<!--        <app-map></app-map>-->
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
