.container {
  margin: 30px;
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;

  &__pick-up-points-list {
    margin-top: 30px;

    &__item {
      margin-bottom: 10px;
    }
  }
}

