@import "node_modules/@angular/material/theming";
@include mat-core();

$theme-primary: mat-palette($mat-amber, A400);
$theme-accent: mat-palette($mat-yellow, 600);
$theme-warn: mat-palette($mat-orange, 900);

$yellow-theme: mat-light-theme($theme-primary, $theme-accent, $theme-warn);

@include angular-material-theme($yellow-theme);
