<mat-tab-group mat-align-tabs="center">
  <mat-tab label="Горячая линия">
    <div class="phones-header">Телефоны горячей линии:</div>
    <div
      *ngFor="let phone of phoneNumbers | async"
      class="phones">{{phone}}</div>
  </mat-tab>
  <mat-tab label="Пункты выдачи">
    <div class="addresses-header">Так же вы можете обратиться по следующим адресам:</div>
    <div
      *ngFor="let point of points | async"
      class="addresses">{{point.address}}</div>
  </mat-tab>
</mat-tab-group>
