::ng-deep .mat-tab-label .mat-tab-label-content {
  font-size: 20px;
}

.phones-header,
.phones,
.addresses-header,
.addresses {
  margin-top: 20px;
  margin-left: 20px;
  font-family: Rubik;
  font-style: normal;
  font-size: 20px;
  color: #000000;
}
