.email-field,
.password-field {
  margin-bottom: 20px;
  width: 444.53px;
  margin-left: 41.13px;
}

.container {
  display: flex;
  justify-content: center;

  &__auth-form {
    width: 526px;
    height: 728px;
    margin-top: 154px;
    margin-bottom: 142px;
    background: #FFFFFF;
    border-radius: 20px;

    &__login-btn {
      float: right;
      user-select: none;
      cursor: pointer;
      outline: none;
      text-transform: uppercase;
      border: none;
      width: 158.2px;
      height: 46.69px;
      margin-right: 41px;
      margin-top: 53.81px;
      background: #E5C100;
      border-radius: 20px;
      font-family: Rubik;
      font-style: normal;
      font-weight: 500;
      font-size: 22px;
      line-height: 26px;
      text-align: center;
      color: #000000;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

      &:disabled {
        color: rgba(73, 73, 73, 0.4);
        background: rgba(229, 193, 0, 0.2);
        pointer-events: none;
      }

      &:hover {
        background: rgba(214, 178, 0, 1);
      }

      &:active {
        background: rgba(206, 178, 0, 1);
      }
    }

    &__back-btn {
      float: right;
      user-select: none;
      cursor: pointer;
      outline: none;
      text-transform: uppercase;
      border: none;
      width: 158.2px;
      height: 46.69px;
      margin-top: 53.81px;
      margin-right: 25px;
      background: #ffffff;
      border-radius: 20px;
      font-family: Rubik;
      font-style: normal;
      font-weight: 500;
      font-size: 22px;
      line-height: 26px;
      text-align: center;
      color: #000000;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

      &:hover {
        background: rgba(0, 0, 0, 0.1);
      }

      &:active {
        background: rgba(206, 178, 0, 1);
      }
    }

    &__header {
      user-select: none;
      text-transform: uppercase;
      width: 283.17px;
      height: 81.5px;
      padding-top: 16px;
      margin-left: 226.22px;
      font-family: Rubik;
      font-style: normal;
      font-weight: 500;
      font-size: 95px;
      line-height: 113px;
      text-align: right;
      color: #E5C100;
    }

    &__controls {
      margin-top: 81.5px;

      &__form-control {
        color: #494949;
        padding-left: 20px;
        display: block;
        width: 444.53px;
        height: 60.81px;
        //margin-left: 41.13px;
        border: none;
        //background: #E1E1E1;
        border-radius: 20px;
        outline: none;
        font-family: Rubik;
        font-size: 20px;
      }

      &__label {
        margin-top: 10px;
        user-select: none;
        text-transform: uppercase;
        display: block;
        width: 77.52px;
        height: 26.11px;
        margin-left: 41.13px;
        //margin-top: 40px;
        font-family: Rubik;
        font-style: normal;
        font-weight: 500;
        font-size: 22px;
        line-height: 26px;
        color: #494949;
      }
    }
  }
}
