<app-start-app-header></app-start-app-header>
<div class="container">
  <form [formGroup]="loginForm" (ngSubmit)="_onSubmit()" class="container__auth-form">
    <div class="container__auth-form__header">вход</div>
    <div class="container__auth-form__controls">
      <mat-form-field class="email-field">
        <mat-label class="container__auth-form__controls__label">e-mail</mat-label>
        <input placeholder="Например: pat@example.com"
               autoComplete="off"
               matInput
               formControlName="email"
               class="container__auth-form__controls__form-control">
        <mat-error *ngIf="loginForm.controls['email'].invalid && !loginForm.controls['email'].hasError('required')">
          Введите корректный e-mail
        </mat-error>
        <mat-error *ngIf="loginForm.controls['email'].hasError('required') && loginForm.controls['email'].touched">
          Обязательное поле
        </mat-error>
      </mat-form-field>

      <mat-form-field class="password-field">
        <mat-label class="container__auth-form__controls__label">пароль</mat-label>
        <input autoComplete="off"
               matInput type="password"
               formControlName="password"
               class="container__auth-form__controls__form-control">
        <mat-error
          *ngIf="loginForm.controls['password'].invalid && !loginForm.controls['password'].hasError('required')">
          Минимум 4 символа
        </mat-error>
        <mat-error
          *ngIf="loginForm.controls['password'].hasError('required') && loginForm.controls['password'].touched">
          Обязательное поле
        </mat-error>
      </mat-form-field>
    </div>
    <button [disabled]="loginForm.invalid"
            type="submit"
            class="container__auth-form__login-btn">войти
    </button>
    <button (click)="_goToStartPage()" class="container__auth-form__back-btn">назад</button>
  </form>
</div>
<app-footer></app-footer>


