.arrows {
  user-select: none;
  outline: none;
  margin-top: 21%;
  font-size: 100px;
  cursor: pointer;
  height: 70px;

  &:hover {
    color: #E5C100;
  }

  &:active {
    color: #a48b03;
  }
}

.disabled {
  color: #494949;

  &:hover {
    color: #494949;
  }

  &:active {
    color: #494949;
  }
}

.container {
  display: flex;
  justify-content: space-around;
  width: 1600px;
  overflow-x: hidden;

  &__product-card {
    display: flex;
    justify-content: space-around;
    padding-right: 40px;
    padding-left: 40px;
  }
}
