<div class="container">
<span class="material-icons arrows"
      [class.disabled]="(showedProductsIndex === 0)"
      (click)="_onPrevious()">
          keyboard_arrow_left
        </span>

  <div [@animationSlider]="counter" class="container__product-card">
    <ng-container *ngFor="let product of products; let i=index">

      <app-product
        *ngIf="i === showedProductsIndex"
        [inputProduct]="product"
        [isBookingAvailable]="false">
      </app-product>

    </ng-container>
  </div>

  <span
    class="material-icons arrows"
    [class.disabled]="(showedProductsIndex === (products.length - 1))"
    (click)="_onNext()">
        keyboard_arrow_right
      </span>
</div>
