<div class="container">
  <div class="container__reg-success-text">Вы успешно прошли регистрацию!</div>
  <div class="container__text-container">
    <div class="container__text-container__login-text">Войдите, чтобы ознакомиться со всеми возможностями проката.</div>
  </div>
  <div class="container__buttons-container">
    <button mat-dialog-close (click)="_goStartPage()" class="container__buttons-container__to-start-page-button">на главную</button>
    <button mat-dialog-close (click)="_login()" class="container__buttons-container__to-login-button">войти</button>
  </div>
</div>
