.container {
  height: 280px;
  width: 236px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 38px;

  color: #494949;

  &__img {
    margin-bottom: 9px;
    height: 236px;
    width: 236px;
    position: relative;

    &__product-img {
      height: 236px;
      width: 236px;
    }
  }

  &__product-name {
    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }
}

.material-icons {
  z-index: 1;
  margin-top: 4px;
  margin-left: 194px;
  font-size: 30px;
  position: absolute;

  &:hover {
    cursor: pointer;
    font-weight: 600;
  }
}
