<div class="container">
  <div class="container__img">
    <span (click)="_addFavouriteOrRemove()" class="material-icons">{{buttonType}}</span>
    <img class="container__img__product-img" src="../../../assets/{{product._id}}.png">
  </div>
  <div (click)="_openProductCard()" class="container__product-name">{{product.name}}</div>
</div>
