<div class="container">
  <div class="container__header">Заказ № {{data.order._id}}</div>
  <div class="container__text-container">
    <div class="container__text-container__subscription">

      <div class="container__text-container__subscription__tr">
        Дата заказа: {{data.order.DMY}}
      </div>
      <div class="container__text-container__subscription__tr">
        Забронированный товар: {{data.order.product.name}}
      </div>
      <div class="container__text-container__subscription__tr">
        Адрес выбранного пункта выдачи: {{data.order.point.address}}
      </div>
      <div class="container__text-container__subscription__tr">
        Срок аренды: {{data.order.period}}ч
      </div>
      <div class="container__text-container__subscription__tr">
        Стоимость: {{data.order.cost}}р
      </div>

    </div>
  </div>
  <div class="container__buttons-container">
    <button mat-dialog-close class="container__buttons-container__ok-button">закрыть</button>
  </div>
</div>
