.container {
  height: 100%;
  max-weight: 1440px;
  text-align: center;
  font-family: Rubik;
  font-style: normal;
  color: #FFFFFF;
  letter-spacing: 0.04em;
}

a {
  text-decoration: none;
  color: #2C2C2C;
}

.main {
  font-weight: bold;

  &__container {
    display: flex;
    justify-content: flex-end;

    &__slogan {

      position: absolute;

      top: 200px;
      text-align: left;
      margin-left: 113px;
      font-size: 72px;
      letter-spacing: 0.04em;
      color: #E5C100;
      text-transform: uppercase;
      width: 700px;
    }
  }
}

.pic {
  height: 100%;
  width: 100%;
  margin-bottom: 20%;
  margin-top: 12%;
}

h3 {
  font-size: 64px;
  margin: 70px 0 30px;
}

.how-to-use {
  position: relative;
  margin-top: -15%;
  text-align: center;

  &__steps {
    display: flex;
    justify-content: center;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

    &__rectangle {
      width: 276px;
      height: 345px;
      margin: 145px 39px 80px 0;
      background: #FFFFFF;
      border-radius: 20px;

      p {
        margin: -105px 0 0 -230px;
        color: #E5C100;
        font-weight: bold;
        font-size: 150px;
        line-height: 178px;
      }

      &:hover {
        background: #E5C100;

        p {
          color: #FFFFFF;
        }

        button {
          background: #FFFFFF;

          &:hover {
            background: rgba(241, 241, 241);
          }
        }
      }
    }
  }

  h4 {
    margin-top: -20px;
    height: 60px;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #2C2C2C;
  }

  &__text-block {
    margin: 20px;
    height: 110px;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #2C2C2C;
  }
}

button {
  margin-bottom: 10px;
  user-select: none;
  outline: none;
  cursor: pointer;
  border: none;
  font-size: 20px;
  font-weight: 600;
  width: 205px;
  height: 41.71px;
  background: #E5C100;
  border-radius: 20px;
  color: #2C2C2C;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

  &:hover {
    background: rgba(241, 241, 241);
  }
}

.should-reg {
  button {
    font-size: 36px;
    font-weight: 600;
    width: 316px;
    height: 61px;
    background: #E5C100;
    border-radius: 30px;
    color: #FFFFFF;

    &:hover {
      background: rgba(214, 178, 0, 1);
    }
  }
}

.main-catalog {
  &__rectangle {
    margin-top: 30px;
    display: flex;
    justify-content: center;
  }
}

.main-map {
  &__header {
    margin-bottom: 80px;
  }

  &__map {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
  }
}
