<app-start-app-header></app-start-app-header>

<div class="container">

  <div class="main">
    <img class="pic" src="../../assets/Vector1.svg">
    <div class="main__container">
      <div class="main__container__slogan">{{organizationName}}</div>
    </div>
  </div>

  <div class="how-to-use">

    <h3>Как пользоваться прокатом?</h3>

    <section class="how-to-use__steps">
      <div class="how-to-use__steps__rectangle">
        <p>1</p>
        <h4>ЗАРЕГИСТРИРУЙТЕСЬ</h4>
        <h5 class="how-to-use__text-block">Зарегистируйтесь для поиска самых подходящих именно Вам моделей.</h5>
        <button (click)="_goToRegPage()">РЕГИСТРАЦИЯ</button>
      </div>
      <div class="how-to-use__steps__rectangle">
        <p>2</p>
        <h4>ВЫБЕРИТЕ УСЛУГУ</h4>
        <h5 class="how-to-use__text-block">Вы можете выбрать понравившийся Вам товар
          и забрать его из наиболее удобного Вам пункта выдачи.</h5>
      </div>
      <div class="how-to-use__steps__rectangle">
        <p>3</p>
        <h4>ЗАБЕРИТЕ ВЫБРАННЫЙ ТОВАР В ПУНКТЕ ВЫДАЧИ </h4>
        <h5 class="how-to-use__text-block">Забрать товар можно по
          выбранному при заказе адресу, назвав менеджеру номер заказа.</h5>
        <button><a href="#map">ПУНКТЫ ВЫДАЧИ</a></button>
      </div>
      <div class="how-to-use__steps__rectangle">
        <p>4</p>
        <h4>ВЕРНИТЕ ИНВЕНТАРЬ В ЛЮБОЙ ПУНКТ ВЫДАЧИ</h4>
        <h5 class="how-to-use__text-block">Когда оплаченное время истечет,
          вернуть товар можно будет в любой из пунктов выдачи
          по всему Городу!</h5>
      </div>
    </section>
  </div>


  <div class="main-catalog">
    <h3>Выбери модель на свой вкус</h3>
    <div class="main-catalog__rectangle">

      <app-card-slider-component></app-card-slider-component>

    </div>

    <div id="map" class="main-map">
      <h3 class="main-map__header">Где нас найти?</h3>
      <div class="main-map__map">
        <app-map></app-map>
      </div>
    </div>

    <div id="should-reg" class="should-reg">
      <h3>Для полноценного пользования <br> прокатом зарегистрируйтесь</h3>
      <button (click)="_goToRegPage()">РЕГИСТРАЦИЯ</button>
    </div>

  </div>
</div>
<app-footer></app-footer>
