<div class="container">
  <div class="container__error-text">Зарегистрируйтесь или войдите для просмотра каталога</div>
  <div class="container__buttons-container">
    <button mat-dialog-close (click)="_goToRegPage()" class="container__buttons-container__to-reg-page-button">Регистрация</button>
    <button mat-dialog-close (click)="_goToLoginPage()" class="container__buttons-container__to-login-page-button">Войти</button>
  </div>
</div>
