<div class="footer">
  <div class="footer__left">
  <button (click)="_goToCatalog()">Каталог</button>
  <button (click)="_showMap()">Пункты выдачи на карте</button>
  <button (click)="_showContacts()">Контакты</button>
  </div>
  <div class="footer__right">
				<div>
					<a href="https://instagram.com" target="_blank">
						<img class="social" src="../../assets/inst_white.png" height="25" alt="inst_white"> </a>
					<a href="http://vk.com" target="_blank">
						<img class="social" src="../../assets/vk_white.png" height="25" alt="vk_white"> </a>
				</div>
  </div>

</div>
