.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100px;
  background: #2D2D2D;
  font-family: Rubik;
  margin-top: 80px;


  &__left {
    font-style: normal;
    font-weight: 300;


    button {
      margin: 0 20px 0 80px;
      user-select: none;
      border: none;
      outline: none;
      cursor: pointer;
      text-transform: uppercase;
      background: none;
      color: #FFFFFF;
      font-size: 18px;

      &:active {
        font-size: 17px;
      }
    }
  }

  &__right {
    display: flex;

    font-style: normal;
    font-weight: 300;
    font-size: 16px;

    p {
      text-align: left;
      margin: 0 50px 0 0;
      font-size: 16px;
      color: #fff;
    }

    img {
      margin-top: 6px;
      margin-right: 40px;
      float: left;
    }
  }
}
