<div class="container">
  <div class="container__catalog">

    <div class="container__catalog__headers">
      <div class="container__catalog__headers__fav-header">Каталог</div>
      <div (click)="_showDialog()" class="container__catalog__headers__filters-header">Фильтры</div>
    </div>
    <mat-divider class="container__catalog__header-divider"></mat-divider>

  <div class="container__catalog__inner">
    <app-small-product-card
      [@fadeInOnEnter]
      [@fadeOutOnLeave]
      [buttonType]="buttonType"
      *ngFor="let product of products$ | async"
      [product]="product"></app-small-product-card>
  </div>

  </div>
</div>
