.container {
  display: flex;
  justify-content: center;

  &__catalog {
    margin-top: 71px;
    margin-bottom: 80px;
    width: 1333px;
    max-height: 1463px;
    min-height: 1000px;
    overflow-y: scroll;
    overflow-x: hidden;

    background: #FFFFFF;
    border-radius: 20px;

    &__inner {
      margin-left: 4.4%;
      display: grid;
      grid-template-columns: repeat(4, 326px);
    }

    &__headers {
      width: 100%;
      margin-top: 32px;
      display: flex;
      justify-content: space-between;
      font-family: Rubik;
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      color: #E5C100;

      &__fav-header {
        margin-left: 2.85%;
        text-transform: uppercase;
      }

      &__filters-header {
        margin-right: 3.73%;
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    &__header-divider {
      margin-bottom: 40px;
      margin-top: 12px;
      width: 93.5%;
      margin-left: 2.85%;
      border: 1px solid #494949;
    }
  }

  ::-webkit-scrollbar {
    width: 24px;
  }

  ::-webkit-scrollbar-track {
    background: #FFFFFF;
    border-radius: 20px;
  }

  ::-webkit-scrollbar-thumb {
    background: rgba(229, 193, 0, 0.67);
    border-radius: 12px;
    border: 6px solid #FFFFFF;

    &:hover {
      background: rgba(229, 193, 0, 1);
    }
  }
}

