.container {
  padding-top: 58px;
  display: flex;
  justify-content: center;

  &__data-table {
    width: 700px;
    margin-right: 23px;
    min-height: 308px;
    background: #FFFFFF;
    border-radius: 20px;
    margin-left: 55px;

    &__header-divider {
      margin-top: 12px;
      margin-left: 7.5%;
      width: 83%;
      border: 1px solid #494949;
    }

    &__string {
      width: 100%;
      display: flex;
      justify-content: space-between;
      font-family: Rubik;
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 24px;
      padding-top: 25px;

      color: #494949;

      &__key {
        margin-left: 7.5%;
        text-align: left;
        width: 30%;
      }

      &__value {
        margin-right: 30%;
        text-align: left;
        width: 40%;
      }
    }

    &__header {
      display: flex;
      justify-content: space-between;

      &__text {
        margin-top: 31px;
        margin-left: 7.5%;
        text-transform: uppercase;
        width: 193px;
        height: 33.17px;
        font-family: Rubik;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 28px;

        color: #E5C100;
      }

      &__pen {
        margin-top: 31px;
        margin-right: 9%;
        cursor: pointer;
        outline: none;
        user-select: none;

        &:hover {
          color: #E5C100;
        }
      }
    }
  }

  &__history-table {
    width: 1000px;
    max-height: 308px;
    background: #FFFFFF;
    border-radius: 20px;
    margin-right: 55px;
    overflow-y: scroll;

    &__cell-divider {
      margin-top: 12px;
      margin-left: 6.2%;
      width: 91%;
    }

    &__table-cells {
      text-align: center;
      padding-top: 13px;
      display: flex;
      justify-content: space-between;
      color: #494949;
      font-family: Rubik;
      font-style: normal;
      font-weight: 500;
      font-size: 20px;

      &__cell {
        width: 400px;
        height: 24px;

        &.info-link {
          cursor: pointer;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

    &__header {
      margin-top: 31px;
      margin-left: 6.2%;
      text-transform: uppercase;
      width: 193px;
      height: 33.17px;
      font-family: Rubik;
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 28px;

      color: #E5C100;

      &-divider {
        margin-top: 12px;
        margin-left: 6.2%;
        width: 91%;
        border: 1px solid #494949;
      }
    }
  }

  ::-webkit-scrollbar {
    width: 24px;
  }

  ::-webkit-scrollbar-track {
    background: #FFFFFF;
    border-radius: 20px;
  }

  ::-webkit-scrollbar-thumb {
    background: rgba(229, 193, 0, 0.67);
    border-radius: 12px;
    border: 6px solid #FFFFFF;

    &:hover {
      background: rgba(229, 193, 0, 1);
    }
  }
}

.block {
  display: flex;
  justify-content: center;

  &__favorites {
    overflow-y: scroll;
    margin-bottom: 30px;
    margin-top: 25px;
    width: 1728px;
    height: 440px;
    left: 52px;
    top: 460px;
    font-family: Rubik;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    color: #E5C100;
    background: #FFFFFF;
    border-radius: 20px;

    &__grid {
      margin-top: 40px;
      display: grid;
      justify-content: space-around;
      grid-template-columns: repeat(4, 240px);
    }

    &__header-divider {
      margin-top: 12px;
      width: 94%;
      margin-left: 2.75%;
      border: 1px solid #494949;
    }

    &__headers {
      width: 100%;
      margin-top: 32px;
      display: flex;
      justify-content: space-between;

      &__fav-header {
        margin-left: 2.85%;
        text-transform: uppercase;
      }
    }
  }

  ::-webkit-scrollbar {
    width: 24px;
  }

  ::-webkit-scrollbar-track {
    background: #FFFFFF;
    border-radius: 20px;
  }

  ::-webkit-scrollbar-thumb {
    background: rgba(229, 193, 0, 0.67);
    border-radius: 12px;
    border: 6px solid #FFFFFF;

    &:hover {
      background: rgba(229, 193, 0, 1);
    }
  }
}



