<div class="container">
  <div class="container__data-table">
    <div class="container__data-table__header">
      <div class="container__data-table__header__text">ваши данные</div>
      <span
        class="material-icons container__data-table__header__pen"
        (click)="_openEditForm()">create</span>
    </div>
    <mat-divider class="container__data-table__header-divider"></mat-divider>
    <div class="container__data-table__string">
      <div class="container__data-table__string__key">Имя</div>
      <div class="container__data-table__string__value">{{userName}}</div>
    </div>
    <div class="container__data-table__string">
      <div class="container__data-table__string__key">Почта</div>
      <div class="container__data-table__string__value">{{userEmail}}</div>
    </div>
    <div class="container__data-table__string">
      <div class="container__data-table__string__key">Телефон</div>
      <div class="container__data-table__string__value">{{userPhoneNumber}}</div>
    </div>
  </div>


  <div class="container__history-table">
    <div class="container__history-table__header">ваши заказы</div>
    <mat-divider class="container__history-table__header-divider"></mat-divider>
    <div class="container__history-table__table-cells">
      <div class="container__history-table__table-cells__cell">№ Заказа</div>
      <div class="container__history-table__table-cells__cell">Дата</div>
      <div class="container__history-table__table-cells__cell">Позиция</div>
      <div class="container__history-table__table-cells__cell">Стоимость (руб)</div>
    </div>
    <mat-divider class="container__history-table__header-divider"></mat-divider>

    <div *ngFor="let order of orders$ | async">
      <div class="container__history-table__table-cells">
        <div class="container__history-table__table-cells__cell info-link"
             (click)="_showOrderInfo(order)">{{order._id}}
        </div>
        <div class="container__history-table__table-cells__cell">{{order.DMY}}</div>
        <div class="container__history-table__table-cells__cell">{{order.product.name}}</div>
        <div class="container__history-table__table-cells__cell">{{order.cost}}</div>
      </div>
      <mat-divider class="container__history-table__cell-divider"></mat-divider>
    </div>
  </div>
</div>
<div class="block">
  <div class="block__favorites">
    <div class="block__favorites__headers">
      <div class="block__favorites__headers__fav-header">избранное</div>
    </div>
    <mat-divider class="block__favorites__header-divider"></mat-divider>
    <div class="block__favorites__grid">
      <app-small-product-card
        [@fadeOutOnLeave]
        (delete)="_deleteFavourite($event)"
        [buttonType]="buttonType"
        [product]="favourite.product"
        *ngFor="let favourite of favourites">
      </app-small-product-card>
    </div>
  </div>
</div>

