<app-start-app-header></app-start-app-header>
<div class="container">
  <form [formGroup]="regForm" (ngSubmit)="_onSubmit()" class="container__reg-form">
    <div class="container__reg-form__header">регистрация</div>
    <div class="container__reg-form__controls">

      <mat-form-field class="mat-field">
        <mat-label class="container__reg-form__controls__label">имя</mat-label>
        <input autoComplete="off"
               matInput
               formControlName="name"
               class="container__reg-form__controls__form-control">
        <mat-error *ngIf="regForm.controls['name'].hasError('required') && regForm.controls['name'].touched">
          Обязательное поле
        </mat-error>
      </mat-form-field>

      <mat-form-field class="mat-field">
        <mat-label class="container__reg-form__controls__label">e-mail</mat-label>
        <input placeholder="Например: pat@example.com"
               autoComplete="off"
               matInput
               formControlName="email"
               class="container__reg-form__controls__form-control">
        <mat-error *ngIf="regForm.controls['email'].invalid && !regForm.controls['email'].hasError('required')">
          Введите корректный e-mail
        </mat-error>
        <mat-error *ngIf="regForm.controls['email'].hasError('required') && regForm.controls['email'].touched">
          Обязательное поле
        </mat-error>
      </mat-form-field>

      <mat-form-field class="mat-field">
        <mat-label class="container__reg-form__controls__label">телефон</mat-label>
        <input autoComplete="off"
               matInput
               formControlName="phoneNumber"
               class="container__reg-form__controls__form-control">
        <mat-error
          *ngIf="regForm.controls['phoneNumber'].hasError('required') && regForm.controls['phoneNumber'].touched">
          Обязательное поле
        </mat-error>
      </mat-form-field>

      <mat-form-field class="mat-field">
        <mat-label class="container__reg-form__controls__label">пароль</mat-label>
        <input matInput type="password"
               autoComplete="off"
               formControlName="password"
               class="container__reg-form__controls__form-control">
        <mat-error *ngIf="regForm.controls['password'].invalid && !regForm.controls['password'].hasError('required')">
          Минимум 4 символа
        </mat-error>
        <mat-error *ngIf="regForm.controls['password'].hasError('required') && regForm.controls['password'].touched">
          Обязательное поле
        </mat-error>
      </mat-form-field>
      <button (click)="_goToStartPage()" class="container__reg-form__back-btn">назад</button>
      <button [disabled]="regForm.invalid "
              type="submit"
              class="container__reg-form__reg-btn">готово
      </button>
    </div>
  </form>
</div>
<app-footer></app-footer>
