.mat-field {
  width: 329.97px;
  margin-bottom: 20px;
}

.container {
  display: flex;
  justify-content: center;

  &__reg-form {
    display: flex;
    justify-content: space-around;
    width: 526px;
    height: 728px;
    margin-top: 154px;
    margin-bottom: 142px;
    background: #FFFFFF;
    border-radius: 20px;

    &__reg-btn {
      user-select: none;
      cursor: pointer;
      outline: none;
      text-transform: uppercase;
      border: none;
      width: 158.2px;
      height: 46.69px;
      margin-left: 10px;
      margin-top: 53.81px;
      background: #E5C100;
      border-radius: 20px;
      font-family: Rubik;
      font-style: normal;
      font-weight: 600;
      font-size: 22px;
      line-height: 26px;
      text-align: center;
      color: #000000;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

      &:disabled {
        color: rgba(73, 73, 73, 0.4);
        background: rgba(229, 193, 0, 0.2);
        pointer-events: none;
      }

      &:hover {
        background: rgba(214, 178, 0, 1);
      }

      &:active {
        background: rgba(206, 178, 0, 1);
      }
    }

    &__back-btn {
      user-select: none;
      cursor: pointer;
      outline: none;
      text-transform: uppercase;
      border: none;
      width: 158.2px;
      height: 46.69px;
      background: #ffffff;
      border-radius: 20px;
      font-family: Rubik;
      font-style: normal;
      font-weight: 600;
      font-size: 22px;
      line-height: 26px;
      text-align: center;
      color: #000000;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

      &:hover {
        background: rgba(0, 0, 0, 0.1);
      }

      &:active {
        background: rgba(206, 178, 0, 1);
      }
    }

    &__header {
      user-select: none;
      writing-mode: tb-rl;
      transform: rotate(180deg);
      text-transform: uppercase;
      width: 719.3px;
      height: 81.5px;
      margin-top: 630px;
      margin-left: 560px;
      font-family: Rubik;
      font-style: normal;
      font-weight: 500;
      font-size: 95px;
      line-height: 113px;
      color: #E5C100;
    }

    &__controls {
      margin-top: 81.5px;
      margin-right: 610px;
      padding-left: 40px;

      &__form-control {
        padding-left: 20px;
        display: block;
        width: 330px;
        height: 53.81px;
        border: none;
        border-radius: 20px;
        outline: none;
        font-family: Rubik;
        font-size: 20px;
      }

      &__label {
        user-select: none;
        text-transform: uppercase;
        display: block;
        width: 77.52px;
        height: 26.11px;
        font-family: Rubik;
        font-style: normal;
        font-weight: 600;
        font-size: 22px;
        line-height: 26px;
        color: #494949;
      }
    }
  }
}
