<div class="container">
  <div class="container__error-text">Данные введены неверно.</div>
  <div class="container__text-container">
    <div class="container__text-container__subscription">Зарегистрируйтесь или попробуйте войти еще раз, тщательно проверив вводимые данные.</div>
  </div>
  <div class="container__buttons-container">
    <button mat-dialog-close (click)="_goToRegPage()" class="container__buttons-container__to-reg-page-button">регистрация</button>
    <button mat-dialog-close class="container__buttons-container__back-button">назад</button>
  </div>
</div>
