<div class="container">
  <mat-radio-group class="container__radio-group">
    <mat-radio-button class="container__radio-group__radio-button"
                      (click)="_changeCategory(category)"
                      [value]="category.name"
                      *ngFor="let category of categories$ | async" [value]="category">
      {{category.name}}
    </mat-radio-button>
  </mat-radio-group>

  <div class="container__selection-block">
    <button class="container__selection-block__cancel-button"
            (click)="_closeWithoutCategory()">
      Показать все
    </button>
    <button (click)="_close()"
            [disabled]="!selectedCategory"
            class="container__selection-block__select-button">
      Применить
    </button>
  </div>
</div>
