.container {
  margin-top: 25px;

  &__radio-group {
    display: flex;
    justify-content: space-around;

    &__radio-button {
      margin-left: 16px;
      font-family: Rubik;
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      color: #000000;

      & .mat-radio-container {
        height: 30px;
        width: 30px;
      }

      & .mat-radio-outer-circle {
        border: 2px solid #000000;
        height: 30px;
        width: 30px;
      }

      & .mat-radio-inner-circle {
        height: 30px;
        width: 30px;
      }

    }
  }

  &__selection-block {
    margin-top: 60px;
    display: flex;
    justify-content: space-around;


    &__select-button {
      margin-top: 14px;
      user-select: none;
      cursor: pointer;
      outline: none;
      text-transform: uppercase;
      border: none;
      width: 158.2px;
      height: 46.69px;
      background: #E5C100;
      border-radius: 20px;
      font-family: Rubik;
      font-style: normal;
      font-weight: 500;
      font-size: 22px;
      line-height: 26px;
      text-align: center;
      color: #000000;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

      &:disabled {
        color: rgba(73, 73, 73, 0.4);
        background: rgba(229, 193, 0, 0.2);
        pointer-events: none;
      }

      &:hover {
        background: rgba(214, 178, 0, 1);
      }

      &:active {
        background: rgba(206, 178, 0, 1);
      }
    }

    &__cancel-button {
      margin-top: 14px;
      user-select: none;
      cursor: pointer;
      outline: none;
      text-transform: uppercase;
      border: none;
      width: 200px;
      height: 46.69px;
      margin-right: 25px;
      background: #ffffff;
      border-radius: 20px;
      font-family: Rubik;
      font-style: normal;
      font-weight: 500;
      font-size: 22px;
      line-height: 26px;
      text-align: center;
      color: #000000;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

      &:hover {
        background: rgba(0, 0, 0, 0.1);
      }

      &:active {
        background: rgba(206, 178, 0, 1);
      }
    }
  }
}
