.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 69px;
  background: #E6C100;
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.25);

  &__cabinet-link {
    display: flex;
    justify-content: space-between;
    cursor: pointer;

    &__user-name {
      font-family: 'Rubik', sans-serif;
      font-size: 20px;
      color: #FFFFFF;
      margin-top: 22px;
      margin-left: 12px;
    }
  }

  &__buttons-container {
    display: flex;
    justify-content: space-between;


    &__catalog-button {
      user-select: none;
      outline: none;
      cursor: pointer;
      border: none;
      font-family: 'Rubik', sans-serif;
      font-size: 20px;
      font-weight: 600;
      text-align: center;
      text-transform: uppercase;
      width: 164px;
      height: 41.71px;
      left: 1176px;
      margin-top: 13px;
      margin-right: 40px;
      background: #FFFFFF;
      border-radius: 20px;
      color: #E5C100;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);

      &:hover {
        background: rgba(241, 241, 241);
      }

      &:active {
        background: rgba(235, 235, 235);
      }
    }

    &__menu-button {
      cursor: pointer;
      color: rgba(255, 255, 255, 1);
      background: #E6C100;
      padding-right: 40px;
      border: none;
      outline: none;

      &:active {
        border: none;
      }
    }

    &__menu-item {
      font-family: 'Rubik', sans-serif;
      font-size: 20px;
      font-weight: 600;
      color: #FFFFFF;
      text-align: right;
      padding-right: 33px;
    }
  }
}

::ng-deep .menu {
  background: #E6C100;
  height: 122px;
  width: 283px;
  box-shadow: none;
  border-radius: 0 0 0 20px;
  margin-right: 0;
}

#account-icon {
  margin-left: 35px;
  color: white;
  font-size: 48px;
  margin-top: 10px;
  align-self: flex-start;
}

#menu-icon {
  font-size: 30px;
}
