<div class="header">
  <div (click)="_toCabinet()" class="header__cabinet-link">
    <div id="account-icon" class="material-icons">account_circle</div>
    <div class="header__cabinet-link__user-name">{{userName}}</div>
  </div>

  <div class="header__buttons-container">
    <button (click)="_goToCatalog()"
            class="header__buttons-container__catalog-button">Каталог</button>
    <button mat-icon-button [matMenuTriggerFor]="menu" class="header__buttons-container__menu-button">
      <span id="menu-icon" class="material-icons">format_align_justify</span>
    </button>
    <mat-menu #menu="matMenu" class="menu">
      <button (click)="_toCabinet()" mat-menu-item class="header__buttons-container__menu-item">Личный кабинет</button>
      <button mat-menu-item (click)="_exit()" class="header__buttons-container__menu-item">Выход</button>
    </mat-menu>
    </div>
</div>


