.mat-field {
  width: 329.97px;
  margin-bottom: 20px;
}

.user-exists-error {
  color: #e65100;
  margin-left: 85px;
}

.container {
  display: flex;
  justify-content: center;

  &__reg-form {
    display: flex;
    justify-content: space-around;
    width: 300px;
    height: 500px;
    background: #FFFFFF;
    border-radius: 20px;

    &__reg-btn {
      user-select: none;
      cursor: pointer;
      outline: none;
      text-transform: uppercase;
      border: none;
      width: 158.2px;
      height: 46.69px;
      margin-left: 85px;
      margin-top: 20.81px;
      background: #E5C100;
      border-radius: 20px;
      font-family: Rubik;
      font-style: normal;
      font-weight: 600;
      font-size: 22px;
      line-height: 26px;
      text-align: center;
      color: #000000;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

      &:disabled {
        color: rgba(73, 73, 73, 0.4);
        background: rgba(229, 193, 0, 0.2);
        pointer-events: none;
      }

      &:hover {
        background: rgba(214, 178, 0, 1);
      }

      &:active {
        background: rgba(206, 178, 0, 1);
      }
    }
    &__controls {
      margin-top: 50.5px;

      &__form-control {
        padding-left: 20px;
        display: block;
        width: 330px;
        height: 53.81px;
        border: none;
        //background: #E1E1E1;
        border-radius: 20px;
        outline: none;
        font-family: Rubik;
        font-size: 20px;
      }

      &__label {
        user-select: none;
        text-transform: uppercase;
        display: block;
        width: 77.52px;
        height: 26.11px;
        //margin-top: 40px;
        font-family: Rubik;
        font-style: normal;
        font-weight: 600;
        font-size: 22px;
        line-height: 26px;
        color: #494949;
      }
    }
  }
}
