<div class="container">
  <form [formGroup]="editForm" (ngSubmit)="_onSubmit()" class="container__reg-form">
    <div class="container__reg-form__controls">

      <mat-form-field class="mat-field">
        <mat-label class="container__reg-form__controls__label">имя</mat-label>
        <input autoComplete="off"
               matInput
               formControlName="name"
               class="container__reg-form__controls__form-control">
        <mat-error *ngIf="editForm.controls['name'].hasError('required') && editForm.controls['name'].touched">
          Обязательное поле
        </mat-error>
      </mat-form-field>

      <mat-form-field class="mat-field">
        <mat-label class="container__reg-form__controls__label">e-mail</mat-label>
        <input placeholder="Например: pat@example.com"
               autoComplete="off"
               matInput
               formControlName="email"
               class="container__reg-form__controls__form-control">
        <mat-error *ngIf="editForm.controls['email'].invalid && !editForm.controls['email'].hasError('required')">
          Введите корректный e-mail
        </mat-error>
        <mat-error *ngIf="editForm.controls['email'].hasError('required') && editForm.controls['email'].touched">
          Обязательное поле
        </mat-error>
      </mat-form-field>

      <mat-form-field class="mat-field">
        <mat-label class="container__reg-form__controls__label">телефон</mat-label>
        <input autoComplete="off"
               matInput
               formControlName="phoneNumber"
               class="container__reg-form__controls__form-control">
        <mat-error
          *ngIf="editForm.controls['phoneNumber'].hasError('required') && editForm.controls['phoneNumber'].touched">
          Обязательное поле
        </mat-error>
      </mat-form-field>

      <div class="user-exists-error" *ngIf="userExists">Этот e-mail уже занят!</div>

      <button [disabled]="editForm.invalid "
              type="submit"
              class="container__reg-form__reg-btn">готово
      </button>
    </div>
  </form>
</div>
