.container {
  display: flex;
  justify-content: center;
  margin-top: 6%;
  margin-bottom: 6%;
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #494949;

  &__card {
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    width: 1245px;
    height: 609px;

    background: #FFFFFF;

    &__img-block {
      margin-top: 6%;
      margin-left: 3%;
      width: 37.5%;
      height: 76.7%;

      &__product-img {
        width: 467.66px;
        height: 467px;
      }
    }

    &__info-block {
      margin-top: 70px;
      margin-right: 5%;
      width: 600px;

      &__form-field {
        margin-top: 0;
        width: 100%;
      }

      &__buttons {
        display: flex;
        justify-content: space-between;
        margin-top: 16px;

        &__add-to-fav-button {
          width: 299px;
          user-select: none;
          cursor: pointer;
          outline: none;
          text-transform: uppercase;
          border: none;
          height: 46.69px;
          background: #ffffff;
          border-radius: 20px;
          font-family: Rubik;
          font-style: normal;
          font-weight: 500;
          font-size: 22px;
          line-height: 26px;
          text-align: center;
          color: #000000;
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

          &:hover {
            background: rgba(0, 0, 0, 0.1);
          }

          &:active {
            background: rgba(206, 178, 0, 1);
          }

        }

        &__reg-button {
          margin-left: 170px;
          user-select: none;
          cursor: pointer;
          outline: none;
          text-transform: uppercase;
          border: none;
          width: 251.35px;
          height: 46.69px;
          background: #E5C100;
          border-radius: 20px;
          font-family: Rubik;
          font-style: normal;
          font-weight: 500;
          font-size: 22px;
          line-height: 26px;
          text-align: center;
          color: #000000;
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

          &:hover {
            background: rgba(214, 178, 0, 1);
          }

          &:active {
            background: rgba(206, 178, 0, 1);
          }
        }

        &__book-button {
          user-select: none;
          cursor: pointer;
          outline: none;
          text-transform: uppercase;
          border: none;
          width: 251.35px;
          height: 46.69px;
          background: #E5C100;
          border-radius: 20px;
          font-family: Rubik;
          font-style: normal;
          font-weight: 500;
          font-size: 22px;
          line-height: 26px;
          text-align: center;
          color: #000000;
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

          &:disabled {
            color: rgba(73, 73, 73, 0.4);
            background: rgba(229, 193, 0, 0.2);
            pointer-events: none;
          }

          &:hover {
            background: rgba(214, 178, 0, 1);
          }

          &:active {
            background: rgba(206, 178, 0, 1);
          }
        }
      }

      &__address-headers {
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
        margin-bottom: 5px;

        &__map {
          color: #E5C100;
          cursor: pointer;

          &:hover {
            text-decoration: underline;
          }
        }
      }

      &__text {
        margin-bottom: 30px;
        margin-right: 100px;
      }
    }
  }
}
