<div class="container">
  <div class="container__card">
    <div class="container__card__img-block">
      <img *ngIf="inputProduct"
           class="container__card__img-block__product-img"
           src="../../../assets/{{product.id}}.png">
      <img *ngIf="!inputProduct"
           class="container__card__img-block__product-img"
           src="../../../assets/{{productId}}.png">
    </div>
    <div class="container__card__info-block">
      <div class="container__card__info-block__text">{{product.name}}</div>
      <div class="container__card__info-block__text">Описание: {{product.features}}</div>
      <div class="container__card__info-block__text">Стоимость: {{product.price}} (руб)</div>

      <mat-form-field class="container__card__info-block__form-field" appearance="fill">
        <mat-label *ngIf="!inputProduct">Выберите время бронирования (в часах)</mat-label>
        <mat-label *ngIf="inputProduct">Доступные периоды бронирования (в часах)</mat-label>
        <mat-select (selectionChange)="_changePeriod($event.value)">
          <mat-option *ngFor="let period of possiblePeriods"
                      [value]="period">{{period}}</mat-option>
        </mat-select>
      </mat-form-field>

      <div class="container__card__info-block__address-headers">
        <div>Пункты выдачи</div>
        <div
          *ngIf="isBookingAvailable"
          (click)="_openMap()"
          class="container__card__info-block__address-headers__map">Карта
        </div>
      </div>

      <mat-form-field class="container__card__info-block__form-field" appearance="fill">
        <mat-label *ngIf="!inputProduct">Выберите удобный пункт выдачи</mat-label>
        <mat-label *ngIf="inputProduct">После заказа забрать можно здесь</mat-label>
        <mat-select [value]="selectedAddress"
                    (selectionChange)="_changeAddress($event.value)">
          <mat-option *ngFor="let address of addresses"
                      [value]="address">{{address.address}}</mat-option>
        </mat-select>
      </mat-form-field>

      <div class="container__card__info-block__buttons">
        <button
          *ngIf="!inputProduct"
          (click)="_addToFavourite()"
          class="container__card__info-block__buttons__add-to-fav-button">{{buttonFavouriteText}}</button>
        <button
          *ngIf="!inputProduct"
          [disabled]="!(selectedAddress && selectedPeriod)"
          (click)="_bookProduct()"
          class="container__card__info-block__buttons__book-button">Забронировать
        </button>
        <button
          (click)="_goRegPage()"
          *ngIf="inputProduct"
          class="container__card__info-block__buttons__reg-button">Регистрация
        </button>
      </div>

    </div>
  </div>
</div>
