<div class="container">
  <ya-map class="container__map" [center]="[53.207396, 50.163377]" [zoom]="13">
    <ya-placemark
      [properties]="address.property"
      [options]="address.option"
      *ngFor="let address of addresses"
      [geometry]="[address.latitude, address.longitude]"
      (balloonopen)="_selectAddress(address)">
    </ya-placemark>
  </ya-map>

  <div
    class="container__select-the-place"
    *ngIf="isSelectingAvailable">
    <button
      class="container__select-the-place__select-btn"
      [disabled]="!selectedAddress"
      (click)="_close()">забрать отсюда
    </button>
  </div>
</div>
