.container {
  width: 1238px;
  height: 730px;
  margin-bottom: 120px;

  &__select-the-place {
    width: 100%;
    height: 60px;
    background: white;
    display: flex;
    justify-content: center;

    &__select-btn {
      user-select: none;
      cursor: pointer;
      outline: none;
      text-transform: uppercase;
      border: none;
      width: 300px;
      height: 46.69px;
      margin-top: 45px;
      background: #E5C100;
      border-radius: 20px;
      font-family: Rubik;
      font-style: normal;
      font-weight: 600;
      font-size: 22px;
      line-height: 26px;
      text-align: center;
      color: #000000;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

      &:disabled {
        color: rgba(73, 73, 73, 0.4);
        background: rgba(229, 193, 0, 0.2);
        pointer-events: none;
      }

      &:hover {
        background: rgba(214, 178, 0, 1);
      }

      &:active {
        background: rgba(206, 178, 0, 1);
      }
    }
  }
}

