<div class="container">
  <div class="container__header">Заказ оформлен!</div>
  <div class="container__text-container">
    <div class="container__text-container__subscription">
      <div class="container__text-container__subscription__tr">Номер заказа: {{data.orderId}}</div>
      <div class="container__text-container__subscription__tr">Вас ожидает товар: {{data.product.name}}</div>
      <div class="container__text-container__subscription__tr">По адресу: {{data.address}}</div>
      <div class="container__text-container__subscription__tr">Бронь на: {{data.period}}ч</div>
      <div class="container__text-container__subscription__tr">К оплате: {{data.cost}}р</div>
    </div>
  </div>
  <div class="container__buttons-container">
    <button class="container__buttons-container__ok-button"
    (click)="_goToCabinet()">ок</button>
  </div>
</div>
