.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;

  &__header {
    font-family: Rubik;
    font-weight: bold;
    font-size: 48px;
    line-height: 57px;
    text-align: center;
    color: #E5C100;
    margin-top: 30px;
  }

  &__text-container {
    width: 600px;
    height: 100px;

    &__subscription {
      margin-top: 40px;
      font-family: Rubik;
      font-style: normal;
      font-weight: normal;
      font-size: 24px;
      line-height: 28px;
      text-align: center;

      color: #494949;

      &__tr {
        padding-bottom: 4px;
        display: flex;
        justify-content: center;
      }
    }
  }

  &__buttons-container {
    margin-top: 120px;

    &__ok-button {
      margin-top: 20px;
      user-select: none;
      cursor: pointer;
      outline: none;
      text-transform: uppercase;
      border: none;
      width: 180px;
      height: 46.69px;
      background: #ffffff;
      border-radius: 20px;
      font-family: Rubik;
      font-style: normal;
      font-weight: 500;
      font-size: 22px;
      line-height: 26px;
      text-align: center;
      color: #000000;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

      &:hover {
        background: rgba(0, 0, 0, 0.1);
      }

      &:active {
        background: rgba(206, 178, 0, 1);
      }
    }
  }
}
