.header {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 69px;
  background: #E6C100;
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.25);

  &__login-button {
    user-select: none;
    border: none;
    outline: none;
    cursor: pointer;
    text-transform: uppercase;
    width: 71px;
    height: 24px;
    margin-right: 26px;
    margin-top: 22px;
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    background: none;

    &:hover {
      font-size: 21px;
    }

    &:active {
      font-size: 19px;
    }
  }

  &__reg-button {
    user-select: none;
    outline: none;
    cursor: pointer;
    border: none;
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    width: 205px;
    height: 41.71px;
    left: 1176px;
    margin-top: 13px;
    margin-right: 59px;
    background: #FFFFFF;
    border-radius: 20px;
    color: #E5C100;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);

    &:hover {
      background: rgba(241, 241, 241);
    }

    &:active {
      background: rgba(235, 235, 235);
    }
  }
}
