<div class="container">
  <div class="container__error-text">Пользователь с таким e-mail уже зарегистирован</div>
  <div class="container__text-container">
    <div class="container__text-container__subscription">Попробуйте войти или проверьте корректность вводимых данных.</div>
  </div>
  <div class="container__buttons-container">
    <button mat-dialog-close (click)="_goToLoginPage()" class="container__buttons-container__to-login-page-button">войти</button>
    <button mat-dialog-close class="container__buttons-container__back-button">назад</button>
  </div>
</div>
